@font-face {
	font-family: 'p22-mackinac-pro';
	src: url('/assets/fonts/mackinac-pro-bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'p22-mackinac-pro';
	src: url('/assets/fonts/mackinac-pro-book.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'p22-mackinac-pro';
	src: url('/assets/fonts/mackinac-pro-medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'p22-mackinac-pro';
	src: url('/assets/fonts/mackinac-pro-book-italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'p22-mackinac-pro';
	src: url('/assets/fonts/mackinac-pro-medium-italic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'monocraft';
	src: url('/assets/fonts/Monocraft.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'monocraft';
	src: url('/assets/fonts/Monocraft-italic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
}
