<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{{ page.title | default: site.title }}</title>
        <meta
            name="description"
            content="{{ page.description | default: site.description }}"
        />

        <link
            rel="stylesheet"
            href="{{ '/assets/css/main.css' | relative_url }}"
        />
    </head>
    <body>
        <main>
            <header>
                {% if page.photo %}
                <img
                    src="{{ page.photo | relative_url }}"
                    alt="{{ page.name }}"
                />
                {% endif %}
                <div class="info">
                    <div>
                        <h1>{{ page.info }}</h1>
                        <p class="subtitle">
                            {{ page.job }} in {{ page.location }}
                        </p>
                        <a href="{{ 'https://' | append: page.website }}"
                            >{{ page.website }}</a
                        >
                    </div>
                    <nav>
                        <a href="/">fr</a>
                        <p>/</p>
                        <a class="active" href="/">en</a>
                    </nav>
                </div>
            </header>

            {{ content | format_work_experience }}
        </main>
    </body>
</html>
